/* Website - Background style*/
main{
    background-image: url("Assets/Images/Website/background.png");
    background-repeat: repeat;
}

/* Website - Navigation and Navbar style */

h1.navbar-brand{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 26px;
}

/* Website - Article style */
.container{
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 25px;
}
.col-md-12{
    background-color: white;
    padding-bottom: 25px;
}


/* Website - Article title style */
h1.display-4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 30px;
    padding-top: 25px;
}
h2.display-4, a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 20px;
    padding-top: 0px;
}
.single-post-content-wrapper {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
/* Contact Page - Button Style */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #000000 !important;
}

.button.btn.btn-primary{
    background:#54b3ae;
}

/* Contact Page - Form Style */
.form-group{
    margin-left:20px;
}

/* Website - Footer Style */
footer{
    background-color:#717171;
    border-top-style: solid;
    border-color: #54b3ae;
    border-width: 10px;
}
